#legend text {
  fill: white;
  font-size: 11px;
}

svg > text.membranetext > tspan {
  fill: white;
  font-size: 13px;
  font-weight: bold;
  pointer-events: none;
}

svg > text.lobbytext > tspan {
  fill: white;
  font-size: 11px;
  font-weight: bold;
  pointer-events: none;
  text-anchor: middle;
}

svg g.link {
  pointer-events: none;
}

svg foreignObject.clickfiche {
  pointer-events: none;
}

svg foreignObject.clickfiche > div {
  background-color: rgba(6,8,15,0.6);
  padding: 5px;
  overflow: visible;
}

svg foreignObject.clickfiche > div.foreigncontainer > h1 {
  font-family: 'Antique Olive Standard Compact';
  font-size: 20px;
  margin: 0px;
  margin-bottom: 13px;
}

svg foreignObject.clickfiche > div.foreigncontainer > h1.smallname {
  font-size: 11px;
  font-family: 'Antique Olive Roman';
}

svg foreignObject.clickfiche > div.foreigncontainer > h2 {
  font-family: 'Antique Olive Standard Compact';
  font-size: 16px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

svg foreignObject.clickfiche > div.foreigncontainer > p {
  font-family: 'Antique Olive Roman';
  font-size: 14px;
  margin: 2px;
}

svg foreignObject.clickfiche {
  pointer-events: none;
}

svg foreignObject.bestiesfiche > div {
  background-color: rgba(6,8,15,0.6);
  padding: 5px;
  overflow: visible;
}

svg foreignObject.bestiesfiche > div.foreigncontainer > h1 {
  font-family: 'Antique Olive Standard Compact';
  font-size: 20px;
  margin: 0px;
  margin-bottom: 13px;
}

svg foreignObject.bestiesfiche > div.foreigncontainer > h1.smallname {
  font-size: 11px;
  font-family: 'Antique Olive Roman'
}

svg foreignObject.bestiesfiche > div.foreigncontainer > h2 {
  font-family: 'Antique Olive Standard Compact';
  font-size: 15px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

svg foreignObject.bestiesfiche > div.foreigncontainer > p {
  font-family: 'Antique Olive Roman';
  font-size: 13px;
  margin: 2px;
}

svg foreignObject.bestiesfiche {
  pointer-events: none;
}

/* Pour les petits écrans : mobiles */
@media (max-width: 990px){
  svg foreignObject.clickfiche > div.foreigncontainer > h1 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h1.smallname {
    font-size: 11px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > p {
    font-family: 'Antique Olive Roman';
    font-size: 11px;
    margin: 1px;
  }

  svg foreignObject.bestiesfiche > div.foreigncontainer > h1 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h1.smallname {
    font-size: 11px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h2 {
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 2px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > p {
    font-size: 11px;
    margin: 0px;
  }
}

/* Pour les écrans moyens : tablettes */
@media (min-width: 991px) and (max-width: 1360px){
  svg foreignObject.clickfiche > div.foreigncontainer > h1 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h1.smallname {
    font-size: 11px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > p {
    font-size: 11px;
    margin: 2px;
  }

  svg foreignObject.bestiesfiche > div.foreigncontainer > h1 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h1.smallname {
    font-size: 11px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > p {
    font-size: 11px;
    margin: 2px;
  }
}

/* Pour les grands écrans : ordinateurs */
@media (min-width: 1361px)and (max-width: 1899px){
  svg foreignObject.clickfiche > div.foreigncontainer > h1 {
    font-size: 20px;
    margin-bottom: 13px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h1.smallname {
    font-size: 11px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h2 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > p {
    font-size: 13px;
    margin: 2px;
  }

  svg foreignObject.bestiesfiche > div.foreigncontainer > h1 {
    font-size: 20px;
    margin-bottom: 11px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h1.smallname {
    font-size: 11px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > p {
    font-size: 13px;
    margin: 1px;
  }
}

/* Pour les très grands écrans : ordinateurs */
@media (min-width: 1900px){
  svg foreignObject.clickfiche > div.foreigncontainer > h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h1.smallname {
    font-size: 14px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  svg foreignObject.clickfiche > div.foreigncontainer > p {
    font-size: 15px;
    margin: 3px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h1.smallname {
    font-size: 14px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  svg foreignObject.bestiesfiche > div.foreigncontainer > p {
    font-size: 15px;
    margin: 3px;
  }
}
