* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	width: 40%;
	margin: auto;
	margin-bottom: 20px;
}

#vue {
	width: 90%;
	height: 75%;
	margin: auto;
}

#starter {
	margin: auto;
	width: 80px;
	text-align: center;
	margin-top: 10px;
	background-color: orange;
	padding: 5px;
}

#starter:hover {
	background-color: green;
	cursor: pointer;
	font-weight: bold;
}

.box {
	background-color: gray;
	padding: 10px;
	border: solid black 2px;
	border-radius: 10px;
}