svg text {
  fill: rgb(22, 27, 48);
  font-family: 'Open Sans';
}

svg foreignObject {
  pointer-events: none;
}

svg foreignObject > p {
  color: rgb(22, 27, 48);
  font-family: 'Open Sans';
}

svg g.BADGE > text {
  fill: black;
  font-size: 25px;
}

svg text.Titre {
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
  fill: white;
  font-size: 20px;
}

svg text.Initfig.texte {
  font-family: 'Open Sans', Arial, sans-serif;
  fill: white;
  font-size: 15px;
}

svg line.Initfig {
  stroke: white;
}

svg text.scroll {
  fill: rgba(76, 144, 255, 0.2);
  font-weight: bolder;
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
}

svg g text {
  font-weight: bold;
  font-size: 15px;
}

svg g > foreignObject.arctext {
  overflow: visible;
}

svg g > foreignObject.arctext > p {
  background-color: orange;
}

svg foreignObject.cartouche > h1 {
  background-color: rgba(50,50,50,0.6);
  font-size: 15px;
  margin: auto;
  padding: 2px;
}

svg foreignObject.cartouche > p {
  background-color: rgba(50,50,50,0.6);
  font-size: 8px;
  margin: auto;
  padding: 5px;
}

svg foreignObject.cartouche {
  pointer-events: none;
}

#vue svg {
  overflow: visible;
}

svg g.result > text> tspan.mainname {
  font-family: 'Antique Olive Standard Compact';
  font-size: 25px;
}

svg g.result > text > tspan.fullname {
  font-family: 'Antique Olive Standard Compact';
  font-size: 10px;
}

svg g.result > text > tspan.paragtitle {
  font-family: 'Antique Olive Standard Compact';
  font-size: 16px;
}

svg g.result > text > tspan.item {
  font-family: 'Antique Olive Roman';
  font-size: 13px;
}