svg text {
  fill: white;
}

svg text.Titre {
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
  font-size: 20px;
}

svg text.Initfig.texte {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
}

svg line.Initfig {
  stroke: white;
}

svg text.scroll {
  fill: rgba(76, 144, 255, 0.2);
  font-weight: bolder;
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
}

svg g text {
  font-weight: bold;
  font-size: 15px;
}

#vue svg {
  overflow: visible;
}

text.result {
  font-size: 30px;
  fill: white;
}

text.result.nom {
  font-size: 20px;
}

text.result.abr {
  font-size: 50px;
}