* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: rgb(0, 6, 35);
	color: white;
}

#container {
	display: inline-block;
}

#sections {
	display: inline-block;
	z-index: 1;
	width: 34%;
	padding: 5px;
	margin: auto;
}

/* La valeur qu'il faut pour scroller convenablement */
section {
	margin-bottom: 800px;
}

#sec1 {
	margin-top: 300px;
}

#vue {
	position: fixed;
	z-index: 1;
	background-color: green;
	display: inline-block;
	width: 65%;
	padding: 5px;
	margin: auto;
	height: 100%;
}

#reloadbox {
	position: fixed;
	z-index: 2;
	background-color: gray;
	border: solid black 2px;
	border-radius: 10px;
	padding: 3px;
	text-align: center;
	width: 180px;
	right: 25px;
	top: 15px;
	font-weight: bold;
	font-size: 25px;
	color: black;
}

#reloadbox:hover {
	background-color: orange;
	cursor: pointer;
}